<h1 class="text-center display-4">Something went wrong!</h1>
<p class="text-center">{{{customError}}}<p>
<br>
<h5 class="text-center"><a href = "mailto: oleheggli+spotifyerror@gmail.com">If you keep experiencing these errors, please contact us.</a><h5>
<br>
<p class="text-center">
<a href="/" class="btn btn-primary">Try again now.</a>
<a href="/logout" class="btn btn-danger">Log out</a>
</p>
<br>
<br>
<br>
<br>
<br>