<h1 class="text-center display-4">Logging in</h1>
<p class="text-center">
Getting data...
</p>
<div class="d-flex justify-content-center">
	<div class="spinner-border m-5" role="status">
	  <span class="sr-only">Getting data...</span>
	</div>
</div>

<meta http-equiv="refresh" content="2; URL=/getPlaylists" />
<p class="text-center">
<a href="/logout" class="btn btn-danger btn-sm">Log out</a>
</p>