<h1 class="text-center display-4">You are logged in</h1>
<br>
<div class="mx-auto w-95 text-center">
	<p class="text-justify">
	Before we continue, are you a night owl or an early morning person?
	</p>
	<p class="text-justify">
	Some people stay up very late into the night, and find it hard to get up early in the morning. If this describes you, then you are a night owl.
	</p>
	<p class="text-justify">
	Some people find it easy to fall asleep in the evening, and get up very early in morning. If this describes you, then you are an early morning person.
	</p>
	<p class="text-justify">
	Most people fall somewhere in between these two descriptions. Please rate yourself on the scale below.
	</p>
</div>
<br>
<div class="mx-center w-95 wrap">
	<form action="/chronoSubmit" method="post" id="chronoForm">
		<label class="statement">Are you a night owl or an early morning person?</label>
		<ul class="likert" id="likertScale">
		  <li>
			<input type="radio" name="likert" value="1">
			<label>Night owl</label>
		  </li>
		  <li>
			<input type="radio" name="likert" value="2">
			<label></label>
		  </li>
		  <li>
			<input type="radio" name="likert" value="3" checked>
			<label>Regular</label>
		  </li>
		  <li>
			<input type="radio" name="likert" value="4">
			<label></label>
		  </li>
		  <li>
			<input type="radio" name="likert" value="5">
			<label>Early morning</label>
		  </li>
		</ul>
		<p class="text-center">
		<input type="submit" value="Submit">
		</p>
	</form>
	





</div>




<br>
<br>
<br>
<br>
<br>