<h1 class="text-center display-4">Oh no!</h1>

<div class="mx-auto w-75 text-center">
	<p class="text-center">
	When do you think people would listen to this playlist?
	</p>

	<p class="text-center">
	<a href="/userPrefered?response=0" class="btn btn-primary">Early morning/Late night</a>
	</p> 
	<p class="text-center">
	<a href="/userPrefered?response=1" class="btn btn-primary">Morning</a>
	</p>
	<p class="text-center">
	<a href="/userPrefered?response=2" class="btn btn-primary">Afternoon</a>
	</p>
	<p class="text-center">
	<a href="/userPrefered?response=3" class="btn btn-primary">Evening</a>
	</p>
	<p class="text-center">
	<a href="/userPrefered?response=4" class="btn btn-primary">Night</a>
	</p>
	<p class="text-center">
	<a href="/userPrefered?response=5" class="btn btn-primary">No particular time/all day</a>
	</p>
	<br>
	<br>
	<br>
</div>

<!-- break for the old phones !-->
<br>
<br>
<br>
<br>
<br>
<br>

