<h1 class="text-center display-4">Great!</h1>

<div class="mx-auto w-75 text-center">
	<p class="text-center">
	Thank you for participating in our experiment.
	</p>
	<p class="text-center">
	Your response has been recorded. Feel free to try another playlist.
	</p>
	

</div>
<p class="text-center">
<a href="/getPlaylists" class="btn btn-primary btn-lg">Try another playlist?</a>
<a href="/logout" class="btn btn-danger btn-lg">Log out</a>
</p>
<!-- break for the old phones !-->
<br>
<br>
<br>
<br>
<br>
<br>